@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

a {
  text-decoration: none;
}

.modal {
  background-color: #191c25;
}

.modal a {
  font-family: 'Rubik';
  color: blue;
}

body {
  background-color: #1e2129;
  /* background-color: #272a35; */
  color: white;
}

.image {
  cursor: pointer;
}

h1 {
  font-family: 'Bangers';
  font-size: 70px;
  margin: 0;
  letter-spacing: 0.10em;
  text-shadow: 0px 0px 20px black;
}

h2 {
  font-family: 'Bangers';
  margin: 0;
  letter-spacing: 0.10em;
}

.mybox {
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 950px;
  margin: auto;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login a {
  display: flex;
  padding: 15px;
  transition: all 1s;
  color: white;
  border-radius: 5px;
  font-family: 'Rubik';
}

.login a:hover {
  background-color: #303542;
  transition: all 1s;
}

.nav {
  display: flex;
  border: 1px solid black;
  gap: 20px;
  font-family: 'Rubik';
  margin-top: 20px;
  border-radius: 5px;
  background-color: #191c25;
  box-shadow: 0px 0px 5px black;
}

.nav a {
  display: flex;
  padding: 15px;
  transition: all 1s;
  color: white;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #303542;
  transition: all 1s;
}

.main {
  display: flex;
  gap: 10px;
  /* height: 250px; */
}

.cont1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  /* width: 90%; */
  border-radius: 5px;
}

.cont1 img {
  max-width: 100%;
  width: 50px;
  margin-top: 25px;
}

.cont1 img:hover {
  transform: rotate(-20deg);
}

.cont2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  /* width: 50%; */
}

.cont2 img {
  max-width: 100%;
  width: 600px;
  border-radius: 10px;
  height: 200px;
}

.desp {
  font-family: 'Rubik';
  margin-top: 10px;
}

.dios {
  display: flex;
  gap: 10px;
}

.brito-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  /* width: 50%; */
}

.brito-image img {
  max-width: 100%;
  width: 900px;
  border-radius: 10px;
  height: 200px;
}

.brito {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  /* width: 90%; */
  border-radius: 5px;
}

.rey {
  display: flex;
  gap: 10px;
}

.machin {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  /* width: 90%; */
  border-radius: 5px;
}

.machin-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  /* width: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://imagenes.eltiempo.com/files/image_1200_600/uploads/2023/08/14/64da2c54530a1.jpeg);
}

.machin-image img {
  max-width: 100%;
  width: 500px;
  border-radius: 10px;
  height: 200px;
}

.theforest {
  display: flex;
  gap: 10px;
}

.pr {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  /* width: 42%; */
}

.pr iframe {
  height: 260px;
  width: 450px;
}

.pr2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #191c25;
  padding: 15px;
  font-size: 18px;
  /* width: 90%; */
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .dios {
    display: flex;
    flex-direction: column-reverse;
  }

  .rey {
    display: flex;
    flex-direction: column;
  }

  .theforest {
    display: flex;
    flex-direction: column-reverse;
  }
/* 
  .cont1 {
    display: flex;
    width: 93%;
  }
  .cont2 {
    display: flex;
    width: 93%;
  }

  .brito {
    display: flex;
    width: 93%;
  }
  .brito-image {
    display: flex;
    width: 93%;
  }

  .machin {
    display: flex;
    width: 93%;
  }
  .machin-image {
    display: flex;
    width: 93%;
  }

  .pr2 {
    display: flex;
    width: 93%;
  }
  .pr {
    display: flex;
    width: 93%;
  } */
}