body {
  font-family: monospace;
  text-align: center;
  margin: 0;
  background-color: #1E1E1E;
  color: white;
}

#art {
  margin-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  /*background-color: black;*/
  /* background: rgb(11,18,38); */
  /* background: radial-gradient(circle, rgba(11,18,38,1) 0%, rgba(24,35,62,1) 0%, rgba(31,44,71,1) 0%, rgba(4,8,20,1) 100%); */
  background: rgb(113,46,46);
  background: radial-gradient(circle, rgba(113,46,46,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
  height: 100vh;
  text-shadow: 0px 0px 10px black;
}

.head {
  margin-top: 50px;
}

.user {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 5px;
}

a {
  color: rgb(255, 45, 45);
}

a:hover {
  color: #ff6961;
}

hr {
  max-width: 900px;
  border: 1px dashed white;
}

.box {
  padding: 10px;
}

.mybox {
  padding: 10px;
}

#btn {
  background-color: red;
  max-width: 200px;
  margin: auto;
  padding: 5px;
  cursor: pointer;
}

.box a {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.title {
  display: none;
}

#list-btn {
  background-image: url('../image/uwp.webp');
  background-position: center;
  background-size: auto;
  max-width: 190px;
  margin: auto;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: 0px 0px 10px white;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #333;
  width: 100%;
}

.nav img {
  background-size: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.URL {
  position: sticky;
  top: 0;
}

.URL-NAME {
  display: flex;
  border: 2px solid red;
  border-radius: 30px;
  position: absolute;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(10px);
  background-color: transparent;
}

#copy {
  display: none;
  position: absolute;
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
  color: red;
}

/* LOGIN */
.box-login {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.log {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 600px;
  height: 400px;
  border: 1px solid black;
  padding: 30px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 5px solid red;
  text-shadow: 0px 0px 0px; 
}

.log-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-exit {
  display: flex;
  justify-content: end;
}

#exit {
  text-shadow: 0px 0px 0px;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 25px;
}

input {
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  outline: none;
}

input:focus {
  box-shadow: 0px 0px 10px blue;
}

#create {
  color: rgb(255, 45, 45);
  cursor: pointer;
  text-decoration: underline;
}

#create:hover {
  color: #ff6961;
}

.code-box {
}

.btns {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.copy-btn {
  display: none;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 50px;
}

textarea {
  border: 1px solid black;
  border-radius: 3px;
}

#name-form {
  text-decoration: underline;
  cursor: pointer;
}

#name-form:hover {
  color: #ff6961;
}

/* PERFIL */
.perfil {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.perfil-pers {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 700px;
  height: 400px;
  padding: 10px;
  background-color: beige;
  color: black;
  border-radius: 10px;
  border: 5px solid darkorange;
  text-shadow: 0px 0px 0px; 
}

.personal {
  display: flex;
}

.cont-perf {
  display: flex;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.cont-perf span {
  display: inline-block;
  width: 135px;
}

.subimage {
  border: none;
}

.perfil-image {
  display: flex;
  position: absolute;
  left: 50%;
}

.imagee {
  border: 1px solid black;
  background-size: center;
  width: 220px;
  height: 220px;
  margin-left: 50px;
  border-radius: 100%;
  border: 5px solid black;
}


@media only screen and (max-width: 800px) {
  .name {
    margin: auto;
    font-size: 8px;
  }

  #art {
    margin: auto;
    font-size: 8px;
    margin-top: 10px;
  }

  .copy-btn {
    display: flex;
    cursor: pointer;
  }
  .imagee {
    border: 5px solid black;
    background-size: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
}
