@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: url(../image/Monaco.ttf)
}

.red {
  color: rgb(255, 45, 45);
}

body {
  font-family: monospace;
  margin: 0;
  font-weight: 500;
  background: rgb(41,41,41);
  background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(111,111,111,1) 100%);
}

h3 {
  font-size: 1.25rem;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
  background-color: black;
}

.frases {
  font-size: 15px;
}

.integrantes {
  display: flex;
  justify-content: center;
  gap: 10px;
} 

.integrantes a {
  margin-top: 5px;
  color: rgb(255, 45, 45);
  font-size: 1.25rem;
  font-family: 'Monaco';
}

.integrantes a:hover {
  color: #ff6961;
}

.name {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
}

.box {
  padding: 10px;
}

.image {
  max-width: 150px;
  cursor: pointer;
}

footer {
  font-family: monospace;
}

@media only screen and (max-width: 800px) {
  .name {
    font-weight: bold;
    font-size: 13px;
    color: white;
    text-shadow: 0px 0px 10px black;
  }
}
