@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

body {
  font-family: "Sono", monospace;
  margin: 0;
  font-weight: 500;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.integrantes {
  display: flex;
  justify-content: center;
  gap: 10px;
} 

.integrantes a {
  font-size: 1.1rem;
  margin-top: 5px;
  color: rgb(255, 45, 45);
}

.name {
}

.box {
  padding: 10px;
}

.image {
  max-width: 150px;
}

@media only screen and (max-width: 800px) {
  .name {
    font-weight: bold;
  }
}
