body {
  font-family: monospace;
  text-align: center;
  margin: 0;
  background-color: #1E1E1E;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
}

.head {
  margin-top: 60px;
}

.user {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  margin-top: 5px;
}

a {
  color: red;
}

a:hover {
  color: #ff6961;
}

hr {
  max-width: 900px;
}

.mybox {
  padding: 10px;
}

#btn {
  background-color: red;
  max-width: 200px;
  margin: auto;
  padding: 5px;
  cursor: pointer;
}


@media only screen and (max-width: 800px) {
  .name {
    max-width: 800px;
    margin: auto;
    font-size: 11px;
  }
}
