body {
  font-family: 'Cascadia Mono', monospace;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.head {
  margin-top: 100px;
}

.user {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}

a {
  color: red;
}

a:hover {
  color: #ff6961;
}

hr {
  max-width: 900px;
}
